extends layouts/main

block content
    form(action=routes.editMovie(movie.id), method="post")
            input(type="text", placeholder="Title", name="title", required=true, value=movie.title)
            input(type="text", placeholder="Year", name="year", required=true, value=movie.year)
            input(type="text", placeholder="Rating", name="rating", required=true, value=movie.rating)
            textarea(name="synopsis", placeholder="Synopsis", required=true)=movie.synopsis
            input(type="text", placeholder="Genres", name="genres", required=true, value=genres)
            input(type="submit", value="Submit")
    a(href=routes.deleteMovie(movie.id)) Delete Movie